body{
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.menu{
    position: fixed;
    width: 110px;
    background-color: rgb(44, 44, 44);
    top: 150px;
    left: 0px;
    border: 5px solid brown;
}

.first{
    text-decoration: none;
    color: crimson;
}

.second{
    text-decoration: none;
    color: wheat;
    position: relative;
    left: 25px;
}

.item{
    margin: 0px;
}

.textbox{
    width: 1200px;
    background-color: rgb(96, 96, 96);
    opacity: 0.95;
    border: 20px solid rgb(31, 31, 31);
    border-radius: 32px;
    position: absolute;
    top: 100px;
}

h1{
    color: snow;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, '微軟正黑體';
    font-size: 80px;
    margin-left: 30px;
}

h2{
    color: crimson;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, '微軟正黑體';
    font-size: 48px;
    margin-left: 30px;
}

h3{
    color: wheat;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, '微軟正黑體';
    font-size: 36px;
    margin-left: 30px;
}

p{
    color: snow;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, '微軟正黑體';
    font-size: 24px;

    position: relative;
    margin-left: 100px;
    margin-right: 100px;
}

.red{
    color: rgb(241, 23, 67);
    font-weight: bold;
}

img{
    width: 500px;
    height: 500px;
}

.button{
    width: 200px;
    height: 100px;
    background-color: gray;
    border-radius: 10px;
}